*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button{
    width: 120px;
    height: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
}

#playlist{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 90%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.video{
    width: 300px;
    height: 450px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}